.leftnav-container {
    /* margin:12px; */
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    width: 240px;
    margin-top: 10px;
    /* margin-right:10px; */
}

.fa-house {
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 25px;
}

.fa-fire-flame-curved {
    margin-right: 25px;
    margin-top: 10px;
    margin-left: 25px;
}

.fa-layer-group {
    margin-right: 23px;
    margin-top: 10px;
    margin-left: 25px;
}

.fa-circle-caret-right {
    margin-right: 25px;
    margin-top: 10px;
    margin-left: 25px;
}

.fa-clock-rotate-left {
    margin-right: 25px;
    margin-top: 10px;
    margin-left: 25px;
}

.fa-cloud-arrow-up {
    margin-right: 22px;
    margin-top: 10px;
    margin-left: 23px;
}

.fa-clock {
    margin-right: 25px;
    margin-top: 10px;
    margin-left: 25px;
}

.fa-thumbs-up {
    margin-right: 25px;
    margin-top: 10px;
    margin-left: 25px;
}

.leftnav-tab {
    padding-bottom: 10px;
    padding-top: 5px;
}

.leftnav-tab:hover {
    background-color: lightgray;
    cursor: pointer;
}

.highlighted {
    background-color: #e9e9e9;
}

.leftnav-tophalf {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.leftnav-bothalf {
    padding-top:15px;
}
