@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&subset=latin-ext');

.nav-logo {
    color: #ff0000;
    font-size: 28px;
    display:flex;
    margin-left:10px;
}

.nav-logo div {
    color:#212121;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    margin-top: 1px;
    margin-left:1px;
    font-weight: bold;
}

.navlink {
    text-decoration: none;
    color:#212121;
}

.nav-items {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 36px;
    padding-bottom:10px;
}

.hamburger-container {
    margin:12px;
    font-size: 20px;
}

.left-nav {
    display:flex;
    align-items: center;
}

.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-video-plus {
font-size: 22px;
margin-right: 25px;
align-items: center;
cursor: pointer;
}

.left-nav {
    padding-top: 5px;
}

/* border-bottom: 1px solid #d6d6d6; */
